<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<div class="span8">
  <% if @user.articles.any? %>
    <h3>Articles (<%= @user.articles.count %>)</h3>
  <% end %> 
</div>

<%= link_to 'Edit', edit_user_path(@user), :class => "button tiny round" %>
<%= link_to 'Back', users_path, :class => "button tiny round" %>
